/*NO EDITAR modules/_sprite directamente, el archivo es generado
automaticamente x Gulp.
En caso de ser necesario editar gulp/templates/sprite*/

/*esto es propio del paquete de sprite
todo lo que esta entre los shapes se hace
en forma de loop x cada icono que recorre
*/

    /*Esto se ejecuta la primera vez*/
        .icon {
            /*Le digo donde esta el svg que tienen todos los iconos
            los ultimos { son que el nombre del archivo puede variar*/
            background-image: url('../../assets/images/sprites/sprite-1e36f1cc.svg');
        }

        .no-svg .icon {
            background-image: url('../../assets/images/sprites/sprite-1e36f1cc.png');
        }
    .icon--clear-view-escapes {
        width: 144.4px;
        height: 61.53px;
        background-position: 0 0;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--comment {
        width: 66px;
        height: 66px;
        background-position: 0 48.0703125%;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--facebook {
        width: 23.23px;
        height: 44.01px;
        background-position: 87.02485833643546% 29.375291686112405%;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--fire {
        width: 58px;
        height: 66px;
        background-position: 31.884057971014492% 48.0703125%;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--globe {
        width: 66px;
        height: 66px;
        background-position: 72.56281407035176% 0;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--instagram {
        width: 44.01px;
        height: 44.01px;
        background-position: 95.2079279605412% 58.717247816521095%;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--mail {
        width: 66px;
        height: 50px;
        background-position: 72.56281407035176% 45.833333333333336%;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--rain {
        width: 66px;
        height: 66px;
        background-position: 0 99.6328125%;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--star {
        width: 66px;
        height: 66px;
        background-position: 33.165829145728644% 99.6328125%;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--twitter {
        width: 53.78px;
        height: 44.06px;
        background-position: 99.61177918757693% 0;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--wifi {
        width: 62px;
        height: 66px;
        background-position: 65.02463054187191% 99.6328125%;
    }
    /*Esto se ejecuta la primera vez*/
    .icon--youtube {
        width: 36.75px;
        height: 44px;
        background-position: 92.17962760131435% 88.05333333333333%;
    }
